<!-- <div class="container-fluid">
    <div class="row border my-5 justify-content-center">
     
        <div class="col-sm-2 text-center facebook">
            <div><i style="color: #4867aa;" class="fab fa-facebook-square fa-lg"></i> 521</div>
            <div>Page Likes</div>
            <div class="row" style="font-size: 17px;">
                <div class="col">
                    Reach <p>29 <i class="fas fa-level-down-alt"></i></p>
                </div>
                <div class="col">
                    Engaged <p>23 <i class="fas fa-level-down-alt"></i></p>
                </div>
            </div>
        </div>
      
        <div class="col-sm-2 text-center facebook">
            <div><i style="color: #1da1f2;" class="fab fa-twitter-square fa-lg"></i> 29</div>
            <div>Followers</div>
            <div class="row" style="font-size: 17px;">
                <div class="col">
                    Reach <p>0 <i class="fas fa-level-up-alt"></i></p>
                </div>
                <div class="col">
                    Engaged <p>0 <i class="fas fa-level-up-alt"></i></p>
                </div>
            </div>
        </div>
       
        <div class="col-sm-2 text-center facebook">
            <div><img src="../../../assets/img/business.png" alt="G Business" width="30px"> 0</div>
            <div>Followers</div>
            <div class="row" style="font-size: 17px;">
                <div class="col">
                    View Maps <p>345 <i class="fas fa-level-down-alt"></i></p>
                </div>
                <div class="col">
                    View Search <p>130 <i class="fas fa-level-down-alt"></i></p>
                </div>
            </div>
        </div>
     
    
        <div class="col-sm-2 text-center facebook">
            <div><i style="color: #0077b7;" class="fab fa-linkedin fa-lg"></i> 8</div>
            <div>Followers</div>
            <div class="row" style="font-size: 17px;">
                <div class="col">
                    Post Likes <p>0 <i class="fas fa-level-up-alt"></i></p>
                </div>
                <div class="col">
                    Comments <p>0 <i class="fas fa-level-up-alt"></i></p>
                </div>
            </div>
        </div>
       
        
        <div class="col-sm-2 text-center facebook">
            <div><img width="30px" src="../../../assets/img/instagram.png" alt="Instagram"> 306</div>
            <div>Followers</div>
            <div class="row" style="font-size: 17px;">
                <div class="col">
                    Post Likes <p>3 <i class="fas fa-level-up-alt"></i></p>
                </div>
                <div class="col">
                    Comments <p>0 <i class="fas fa-level-up-alt"></i></p>
                </div>
            </div>
        </div>
    
    </div>
    <div class="row">
        <div class="col-sm-3 border">
            <b>Concent Status</b>
            <div class="row offset-sm-3" style="padding: 20px;">
                <i style="padding-top: 10px;" class="far fa-calendar-alt fa-3x"></i><span style="padding-left: 10px; font-size: 20px;"> 11 <p>Scheduled</p> </span>
            </div>
            <hr>
            <div class="row">
                <div class="col text-center">
                    <i style="color: #83c76f;" class="fal fa-clock fa-2x"></i> 
                    <span style="font-size: 30px; color: #83c76f;"> 0 </span>
                    <div>Pending</div>
                </div>
                <div class="col text-center">
                    <i style="color: #83c76f;" class="fas fa-exclamation fa-2x"></i> 
                    <span style="font-size: 30px; color: #83c76f;"> 0 </span>
                    <div>Rejected</div>
                </div>
                <div class="col text-center">
                    <i style="color: #83c76f;" class="fas fa-times-circle fa-2x"></i> 
                    <span style="font-size: 30px;color: #83c76f; ;"> 0 </span>
                    <div>Failed</div>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-sm-8 border">
            <b>Fan & Engagement Demographics</b>
            <img width="900px" src="../../../assets/img/Insights.png" alt="insights">
        </div>
    </div>
</div> -->





<div class="container-fluid p-0">
    <div class="scroll">
        <div class="box mb-2 px-3 py-2">

            <h3 class="mb-2">Performance Summary</h3>
            <table style="width:100%">
                <tr>
                    <th> CHHANNELS</th>
                    <th>TOTAL FOLLOWERS?</th>
                    <th>TOTAL FOLLOWERS?</th>
                    <th>NO.OF POSTS?</th>
                    <th>REACH?</th>
                    <th style="border-right: 0px;">ENGAGEMENT?</th>
                </tr>
                <tr>
                    <td> <i class="fab fa-facebook-f round"></i> <span class="ml-1"> Alkyen Technology</span> </td>
                    <td>0</td>
                    <td>0</td>
                    <td>27 <i class="fas fa-level-up-alt" style="color: green;"></i> 145.5% </td>
                    <td>11 <i class="fas fa-level-down-alt" style="color: rgb(88, 129, 206);"></i> 54.4%</td>
                    <td>5 <i class="fas fa-level-down-alt" style="color: rgb(88, 129, 206);"></i>44.4%</td>
                </tr>
                <tr>
                    <td><i class="fab fa-twitter round"></i><span class="ml-1">AlkyenDev</span> </td>
                    <td>0</td>
                    <td>0</td>
                    <td>39 <i class="fas fa-level-up-alt" style="color: green;"></i> 69.6%</td>
                    <td>NA?</td>
                    <td>6 <i class="fas fa-level-up-alt" style="color: green;"></i> 500.0%</td>
                </tr>
                <tr>
                    <td> <i class="fab fa-instagram-square"></i> <span class="ml-1"> Alkyen Technology</span> Alkyen
                        Technology</td>
                    <td>2 <i class="fas fa-level-up-alt" style="color: green;"></i> 100.0%%</td>
                    <td>2 <i class="fas fa-level-up-alt" style="color: green;"></i> 100.0%</td>
                    <td>3 <i class="fas fa-level-up-alt" style="color: green;"></i> 100.0%</td>
                    <td>2 <i class="fas fa-level-up-alt" style="color: green;"></i> 100.0%</td>
                    <td>0</td>
                </tr>

            </table>



        </div>


        <!--End of row-->

        <!--Start of new row-->

        <div class="row">
            <div class="col-md-6 pr-2">
                <div class="Publishing">
                    <h3 class="recent mb-0">Today's Publishing</h3>
                    <div class="row no-gutters">

                        <div class="col-sm-4 py-2  px-0 align-items-center">
                            <b class="post">Scheduled Posts</b>
                            <div class="text-center pt-4 pb-4 mb-3" style="border-bottom: 1px solid rgba(0,0,0,.1)">
                                <i style="color: #61b2f8;font-size: 24px;" class="far fa-calendar-alt fa-3x"></i><span
                                    style="padding-left: 5px; font-size: 24px;"> 11 </span>
                            </div>
                            <div class="row no-gutters">
                                <div class="col px-2 text-center">
                                    <div class="d-flex ml-1">
                                        <i style="color: #83c76f; font-size: 18px;" class="fa fa-clock"></i>
                                        <span style="font-size: 23px; color: #83c76f; margin-top: -2px;"> 0 </span>
                                    </div>

                                    <div class="" style="font-size: 9px;">Pending</div>
                                </div>

                                <div class="col px-2 text-center">
                                    <div class="d-flex ml-1">
                                        <i style="color: #83c76f; font-size: 18px; " class="fas fa-exclamation "></i>
                                        <span style="font-size: 23px; color: #83c76f; margin-top: -2px;"> 0 </span>
                                    </div>

                                    <div class="" style="font-size: 9px;">Rejected</div>
                                </div>

                                <div class="col px-2 text-center">
                                    <div class="d-flex ml-2">
                                        <i style="color: #83c76f; font-size: 18px;" class="fas fa-times-circle "></i>
                                        <span style="font-size: 23px;color: #83c76f; margin-top: -2px;"> 0 </span>
                                    </div>

                                    <div class="" style="font-size: 9px;">Failed</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 py-2  px-0 align-items-center"
                            style="border-left: 1px solid gray; border-right: 1px solid gray;">
                            <b class="post">Published Posts</b>
                            <div class="text-center pt-4 pb-4 mb-3">
                                <i style="color: #61b2f8; font-size: 24px; " class="fab fa-quora"></i>
                                <span style="padding-left: 5px; font-size: 24px;"> 0 </span>
                            </div>
                            <a href="#">View queue</a>

                        </div>

                        <div class="col-sm-4 py-2  px-0 align-items-center">
                            <b class="post">Content Profiles</b>
                            <div class="text-center pt-4 pb-4 mb-3">
                                <i style="color: #61b2f8; font-size: 24px;" class="fas fa-upload"></i>
                                <span style="padding-left: 5px; font-size: 24px;"> 0 </span>
                            </div>

                            <a class="align-items-center" href="#">View sent</a>

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-6 pl-2">
                <div class="recent-post">

                    <h3 class="recent">Recent Posts</h3>
                    <div class="row">
                        <div class="col-sm-6" style="border-right: 1px solid rgba(0,0,0,.1) ;">
                            <div class="d-flex">
                                <i class="fab fa-facebook-f round"></i>
                                <p class="ml-2">Alkyne Technology</p>
                            </div>
                            <h5>Via Agarapulse</h5>
                            <p>24 may at 09:29 PM</p>
                            <hr>
                            <img style="height: 100px;width:100%;object-fit:cover" src="./assets/img/Background.jpg"
                                alt="">
                            <p> Testing The profile</p>
                            <hr>
                            <p>likes <span class="right">0</span></p>
                            <p>Comments <span class="right">0</span> </p>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex">
                                <i class="fab fa-twitter round"></i>
                                <p class="ml-2">Alkyne Technology</p>
                            </div>
                            <h5>Via Agarapulse App</h5>
                            <p>24 may at 09:29 PM</p>
                            <hr>
                            <img style="height: 100px;width:100%;object-fit:cover" src="./assets/img/Background.jpg"
                                alt="">
                            <p> Testing The profile</p>
                            <hr>
                            <p>likes <span class="right">0</span></p>
                            <p>Comments <span class="right">0</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>