<div class="head" style="padding-left: 0rem; margin-top: 18px;"><h5 class="card-title text-center" style="padding-right:166px; font-size: 25px; font-weight: bold;">Change Password
 
</h5>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-md-5 col-lg-9 mx-auto">
        <div class="card card-signin my-5" style="margin-left: -60px;">
          
          <div class="card-body">
            <form [formGroup]='changePassword' (ngSubmit)="OnSubmit()" autocomplete="off" novalidate>
              <div class="form-row">
                <div class="col">
                  <label>Email</label>
                  <input type="email"  formControlName="email" name="email" placeholder="Enter Email" class="form-control">
                </div>
                <div class="col">
                  <label>Enter current password</label>
                  <input type="password" formControlName="oldPassword" name="oldPassword" placeholder="Current password" class="form-control" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <label>Enter new password</label>
                  <input type="password" formControlName="newPassword" name="newPassword" placeholder="New password" class="form-control" required>
                </div>
                <div class="col">
                  <label>Confirm password</label>
                  <input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm password" class="form-control" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col-sm-3">
                  <button class=" btn btn-primary btn-block text-uppercase"  style="cursor: pointer;"
                  type="submit" value="Update" (click)="submitChangePassword()" [disabled]="!changePassword.valid">Change Password</button>
                </div>
              </div>
            </form>


          </div>

        </div>
      </div>

      </div>

</div>
</div>


