<!--
<div class="container-fluid">
    <div class="container">
        <div class="row">
          
                    <h5>Thank you for using. <br/> Do you want to login again?</h5> <br/>
                    <div class="form-group row">
                        <div class="form-label-group col-sm-6">
                            <button  class="btn btn-md btn-primary btn-block text-uppercase" routerLink="/login" type="submit">Yes</button>
                        </div>
                        
                        
    
                
                </div>
            </div>
          </div>
        </div>
    </div>
    
</div>
-->
<div class="container-fluid login-screen p-0">
    <div class="row">
        <div class="col-md-8 nodisplay"> 
            <img  src="../../../assets/img/Social_Media_Marketing.png" alt="Login">
        </div>
        <div class="col-md-4">
            <div class="my-5 margin-center">
                <div class="card-body"> <br/> <br/> <br/> <br/>
                    <h5>Thank you for using. <br/> Do you want to login again?</h5> <br/>
                    <button style="width: 20%;" class="btn btn-sm btn-primary btn-block text-uppercase" routerLink="/login" type="submit">Yes</button>
        
                </div>
            </div>
        </div>
    
    </div>
</div>
<!--
<div class="container-fluid login-screen">
    <div class="row">
        <div class="col-md-8">
            <img src="../../../assets/img/thank you.png" alt="Login">
        </div>
        <div class="col-md-4 my-5"> <br/> <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <h5>Thank you for using. <br/> Do you want to login again?</h5> <br/>
            <button  class="btn btn-md btn-primary btn-block text-uppercase" routerLink="/login" type="submit">Yes</button>
        </div>
    </div>
</div>
-->
<!--
<div class="container-fluid">
    <div class="row">
      <div class="col-md-8"> <br/> <br/>
        
      </div>

      <div class="col-md-4">
        <div class="my-5 margin-center">
          <div class="card-body">
            <h3 class="card-title text-center"><p style="font-weight: bold;">Forgot Password</p></h3>
            <form class="form-signin" [formGroup]='login' (ngSubmit)="OnSubmit()" autocomplete="off" novalidate>
                <div class="form-label-group">
  
                <h5>Thank you for using. <br/> Do you want to login again?
                    <button class="btn btn-lg btn-block text-uppercase" routerLink="/login" type="submit" value="Submit code">Yes</button>
  
                </div>
            </form>
            </div>
  
          </div>
        </div>
  
    </div>
</div>
-->
  <!--
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
            </div> <br/>
        </div>
    </div>
    
</div>
-->
