<div class="container-fluid white" *ngIf='!!publishedPost && publishedPost.length == 0'>
  <img src="../../../assets/img/Published.png" class="emptyLibraryImage">
  <p>Oops! You have not published any content.</p>
  <div class="center">
    <a routerLink='/socialmedia/publishing/newpost'>Create a new post</a>
  </div>
</div>
<div class="container-fluid" *ngIf='!!publishedPost && publishedPost.length != 0'>
  <div class="row">
    <div class="col-sm-4">
      <span style="font-size: large; font-weight: 700;">
        All Post
      </span>
    </div>
    <div class="col-sm-3">
      <ng-multiselect-dropdown [placeholder]="'Profiles'" [settings]="dropdownSettings" [data]="dropdownList"
        [(ngModel)]="selectedFilterSocailProfile" (onSelect)="applyFilter()" (onDeSelect)="applyFilter()">
        <ng-template #optionsTemplate let-item let-option="option" let-id="id" let-isSelected="isSelected">
          <div style="right:2px;top:-2px">
            <label style="color: #333;min-width: 130px;"
              [ngStyle]="{ 'color': getItems[id].isDisabled? 'lightgrey':''}">
              <img class="dropdownimage"
                [src]="(!!getItems[id].socialImage)?getItems[id].socialImage:'https://graph.facebook.com/'+getItems[id].pageId+'/picture'" />
              <i class="fab fa-{{getItems[id].socialId.split('#')[0]}} fa-sm circle-icon"
                [ngClass]="{'logoImageWhite': getItems[id].socialId.split('#')[0]=='facebook','logoImage': getItems[id].socialId.split('#')[0]!='facebook'}"></i>
              {{getItems[id].socialName}}
            </label>
          </div>
        </ng-template>
        <ng-template #optionSelectedTemplate let-option="option" let-id="id">
          <div>
            <i style="color: rgb(118, 175, 202);"
              class="fab fa-{{getItems[id].socialId.split('#')[0]}} fa-lg circle-icon"></i>
            {{option}}
          </div>
        </ng-template>
      </ng-multiselect-dropdown>
    </div>

    <div class="col-sm-2">
      <div class="input-group mb-3">
        <input type="date" class="form-control" [(ngModel)]="dateFilter" (change)="filterDate()"
          aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" style="cursor: pointer;" (click)='resetDate()' *ngIf='dateFilter'
            id="basic-addon2">&times;</span>
        </div>
        <!-- <mat-form-field appearance="fill" class="example-form-field">
          <mat-date-range-input  [rangePicker]="rangePicker1">
           <input matStartDate [(ngModel)]="matStartDate">
          <input  matEndDate [(ngModel)]="matEndDate">
          </mat-date-range-input>
           <mat-datepicker-toggle matSuffix [for]="rangePicker1"></mat-datepicker-toggle>
           <mat-date-range-picker #rangePicker1>
             <mat-date-range-picker-actions>
               <button mat-button matDateRangePickerCancel >Cancel</button>
               <button mat-raised-button class="mat-raised-button"  matDateRangePickerApply (click)='filterDate()'>Apply</button>
             </mat-date-range-picker-actions>
            </mat-date-range-picker>
         </mat-form-field> <span class="input-group-text" style="cursor: pointer;" (click)='resetDate()' *ngIf='matStartDate' id="basic-addon2">&times;</span> -->
      </div>
    </div>
    <hr>
    <!-- <table>
        <tr>
          <td>
            <div class="input-group mb-3">
              <input type="date" class="form-control"  [(ngModel)]="dateFilter"  (change)="filterDate()" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" style="cursor: pointer;" (click)='resetDate()' *ngIf='dateFilter' id="basic-addon2">&times;</span>
              </div>
            </div>

          </td>
        </tr>
      </table>style="overflow: auto; height: 750px;" -->
  </div>
  <div class="row" style="overflow: auto; height: 750px; border: 1px solid rgb(207, 207, 207);">
    <table mat-table [dataSource]="mediaDatasource" matSort class="mat-elevation-z1 matTable">
      <!--Date Column-->
      <ng-container matColumnDef="postDate">
        <th class="tableHeader" mat-header-cell mat-sort-header *matHeaderCellDef>Published Date</th>
        <td mat-cell *matCellDef="let media"
          (click)='retreiveDetailedPost(media.socialName, media.postId, media.userId)'>
          <span>
            {{media.postDate | date: 'mediumDate'}} <br /> {{media.postDate | date: 'shortTime'}}
          </span>
        </td>
      </ng-container>
      <!--Data Column-->
      <ng-container matColumnDef="postData">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef>Post content</th>
        <td mat-cell *matCellDef="let media"
          (click)='retreiveDetailedPost(media.socialName, media.postId, media.userId)'>
          <span>
            <span *ngIf='media.mediaUrl && media.mediaUrl.length > 0'>
              <div>
                <i class="fa fa-image iconRight"></i>
                <span *ngIf='media.mediaUrl'
                  [ngClass]="{'imageShow' :media.mediaUrl.length == 1, 'blurImage':  media.mediaUrl.length > 1}">
                  <img [src]='media.mediaUrl[0]' alt="Published Image" class="publishedImage">
                </span>
                <span *ngIf='media.mediaUrl.length > 1' class="lengthPosition">
                  <span class="textBg">+{{media.mediaUrl.length-1}}</span>
                </span>
                {{(media.postData.length>30)? (media.postData | slice:0:20)+' ......':(media.postData)}}
              </div>
            </span>
            <span *ngIf='media.mediaUrl && media.mediaUrl.length == 0'>
              <i class="fa fa-comment-alt iconRight"></i>
              {{(media.postData.length>30)? (media.postData | slice:0:20)+' ......':(media.postData)}}
            </span>
          </span>
        </td>
      </ng-container>
      <!--Publish Column-->
      <ng-container matColumnDef="PublishedBy">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef>By Profile</th>
        <td mat-cell *matCellDef="let media"
          (click)='retreiveDetailedPost(media.socialName, media.postId, media.userId)'>
          <span *ngFor='let data of dropdownList'>
            <img *ngIf="data.socialType=='twitter' && data.userId === media.userId" [src]="data.socialImage"
              class="socialImage">
            <img *ngIf="data.socialType=='facebook' &&  data.pageId === media.pageId"
              [src]="'https://graph.facebook.com/'+data.pageId+'/picture'" class="socialImage" />
            <img *ngIf="data.socialType=='linkedin' &&  data.pageId === media.pageId && !!media.pageId"
              [src]="data.socialImage" class="socialImage" />
            <img *ngIf="data.socialType=='linkedin' &&  data.userId === media.userId && !media.pageId"
              [src]="data.socialImage" class="socialImage" />
            <i style="color: rgb(99, 179, 211);" class="fab fa-{{data.socialType}} circle-icon iconPosition"
              *ngIf="data.socialType!='facebook' && data.userId === media.userId"></i>
            <i style="color: rgb(132, 118, 209);" class="fab fa-facebook fa-sm circle-icon iconPosition"
              *ngIf="data.socialType=='facebook' && data.pageId === media.pageId"></i>
          </span>
        </td>
      </ng-container>

      <!--Copy Column-->
      <ng-container matColumnDef="Icon">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let media">
          <i (click)='duplicatePost(media.postData)' title="Duplicate post" class="fa fa-copy"></i>
          <i (click)='deletePostWeb(media.postId, media.socialName, media.userId, media.pageId)' title="Delete post"
            style="padding-left:1rem;" class="fa fa-trash"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!-- <div class="footer-container">
    <p class="footer-content"><mat-paginator [length]="100"
      [pageSize]="10"  showFirstLastButtons="true" aria-label="Select page"></mat-paginator></p>
    </div> -->
</div>