<div class="head" style="padding-left: 4rem; margin-top: 18px;" ><h5 class="card-title text-center" style="padding-right: 150px; font-size: 25px;">
   Billing & Plan
</h5>
<br/>
<div class="container-fluid">
    <div class="row" style="margin-top: -30px;">
      <div class="col-sm-9 col-md-5 col-lg-9 mx-auto" style="padding-right: 0px;">
        <div class="card card-signin my-5" style="margin-left: -100px;">
          <div class="bg-white rounded card-body" style="margin: -10px;">
          <!--  <h5 class="card-title text-center">Billing Information</h5> <br/>-->
          <div style="font-size: 20px; font-weight: 600; ">
            <i class="fas fa-user-circle fa-1x" style="font-size: 32px;"></i> &nbsp; <b></b>
            Billing Information</div>
          <hr>
            <form class="form-signin">
                <div class="form-label-group row "  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span style="text-shadow: 0px 1px #00000082">Billing Plan</span>
                  </div>
                  <div class="col-sm-3">

                  </div>
                  <div class="col-sm-3">

                  </div>
                  <div class="col-sm-3 ">
                    <a href="">View Billing History</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row "  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span style="text-shadow: 0px 1px #00000082">Free Trial</span>
                  </div>
                  <div class="col-sm-3">

                  </div>
                  <div class="col-sm-3">

                  </div>
                  <div class="col-sm-3 ">
                    <a href="">Finalize Billing Profile</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row"  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span style="text-shadow: 0px 1px #00000082">Plan</span>
                  </div>
                  <div class="col-sm-3">
                    <span style="text-shadow: 0px 1px #00000082">Standard</span>
                  </div>
                  <div class="col-sm-3">
                    <span style="text-shadow: 0px 1px #00000082">$99/month</span>
                  </div>
                  <div class="col-sm-3 ">
                    <a href="">Update Plan</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row"  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span style="text-shadow: 0px 1px #00000082">Add Users</span>
                  </div>
                  <div class="col-sm-3">
                    <span style="text-shadow: 0px 1px #00000082">1 of 1 included users</span>
                  </div>
                  <div class="col-sm-3">

                  </div>
                  <div class="col-sm-3 ">
                    <a href="">Manage Users</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row"  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span style="text-shadow: 0px 1px #00000082">Profile</span>
                  </div>
                  <div class="col-sm-3">
                    <span style="text-shadow: 0px 1px #00000082">5 included social profiles</span>
                  </div>
                  <div class="col-sm-3">
                    <span style="text-shadow: 0px 1px #00000082">Free with Plan</span>
                  </div>
                  <div class="col-sm-3 ">
                    <a href="">Manage Profiles</a>
                  </div>
                </div>
                <hr>
                <div class="form-label-group row"  style="padding-left: 30px;">
                  <div class="col-sm-3 ">
                    <span style="text-shadow: 0px 1px #00000082">Payment</span>
                  </div>
                  <div class="col-sm-3">
                    <span style="text-shadow: 0px 1px #00000082;">Monthly Payments</span>
                  </div>
                  <div class="col-sm-3">

                  </div>
                  <div class="col-sm-3 ">
                    <a routerLink='/billing'>Update Billing</a>
                  </div>
                </div>


              </form>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
