<div class="container-fluid p-0">
  <!--*ngIf="profileService.userSocialProfile && profileService.userSocialProfile.socialMedia"-->

  <div class="row">
    <div class="col-sm-12">
      <button style="float: right;" class="btn btn-primary">Upgrade</button>
    </div>
    <hr>
  </div>


  <div class="row" style="padding: 20px 20px 10px">
    <div class="col-sm-2 response">
      <span>
        <h5>Get Started</h5>
      </span>
      <small>Here are the tools you should check out first.</small>
      <div class="progress" style="height: 5%; margin-top: 10px;">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <span style="color: #007bff; "><i class="fa fa-check"></i> 25% completed</span>
    </div>
    <div class="col-sm-2 response border">
      <figure>
        <img src="../../../assets/img/1.png" alt="Performance Overview">
        <span>
          <figcaption>Performance Overview</figcaption>
        </span>
        <small>See how all your profile and it's performance in one place.</small>
      </figure>
    </div>
    <div class="col-sm-2 response border">
      <figure>
        <img src="../../../assets/img/2.png" alt="Conversation Monitoring">
        <span>
          <figcaption>Conversation Monitoring</figcaption>
        </span>
        <small>Add custom keywords to see what people are saying about your brand.</small>
      </figure>
    </div>
    <div class="col-sm-2 response border">
      <figure>
        <img src="../../../assets/img/3.png" alt="Connect more profile">
        <span>
          <figcaption>Connect more profile</figcaption>
        </span>
        <small>Add the rest of your profiles for a complete view of your performance on social.</small>
      </figure>
    </div>
    <div class="col-sm-2 response border">
      <figure>
        <img src="../../../assets/img/4.jpg" alt="Engagement report">
        <span>
          <figcaption>Engagement report</figcaption>
        </span>
        <small>See how quickly you’re responding to people engaging with your profiles.</small>
      </figure>
    </div>
  </div>
  <hr>

  <div class="row" style="padding: 0 20px 20px;">
    <div class="col-lg-3">
      <h5 class="mb-0">Your Latest Activity</h5>
    </div>
  </div>

  <div class="row" style="justify-content: center;padding: 0 20px;">
    <div class="col-sm-6" style="border:1px solid black;">
      <h5 class="mb-0" style="padding: 10px 0;">To do</h5>
      <div class="row" style="border-top: 1px solid black;">
        <div class="col-sm-6" style="border-right: 1px solid black; padding: 40px">
          <span>All caught up!</span> <br />
          <small>There are no new messages</small> <br /> <br />
          <button class="btn btn-primary">Go to inbox</button>
        </div>

        <div class="col-sm-6" style=" padding: 40px">
          <span>Open tasks</span> <br />
          <b>0</b> <br /> <br />
          <button class="btn btn-primary">Go to tasks</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6" style="border:1px solid black; margin: 0px;">
      <h5 class="mb-0" style="padding: 10px 0;">Today's Publishing</h5>
      <div class="row" style="border-top: 1px solid black; padding: 40px;">
        <div class="col-sm-12 text-center">
          <b>Publish your first message</b>
          <small><br /> Publish, schedule or queue to reach your audience at the perfect time.</small> <br /> <br />
          <button class="btn btn-primary" routerLink='/socialmedia/publishing/newpost'>Compose Message</button>
        </div>
      </div>
    </div>

  </div>
</div>