<div class="container-fluid">
    <div class="row my-2">
        <div class="col-sm-12">
            <h5>Report Home</h5>
            <div class="card card-body" style="background:#f5faff">
                <h5><i style="color: #0277bd;" class="fas fa-file-chart-pie fa-lg"></i> Recommended Report</h5>
                <div>Hi Arun, here are essential reports you need to get started.</div> <div>&nbsp;</div>
                <table>
                    <tr>
                        <td class="card card-body">
                          
                            <i style="color: #3b5998;" class="fab fa-facebook fa-2x"></i> <p><small>Facebook Pages</small></p>
                            <p>&nbsp;</p>
                            <p>Determine your impact on Facebook by analyzing your facebook page activity.</p> <p>&nbsp;</p>
                            <a href="javascript:void(0)">Go to report</a>
                        </td>
                        <td></td>
                        <td class="card card-body">
                             <i style="color: red;" class="fab fa-instagram fa-2x"></i> <p><small>Instagram Performace</small></p>
                                <p>&nbsp;</p>
                                <p>Measure hashtag performance, audience growth, impression and engagement.</p> <p>&nbsp;</p>
                                <a href="javascript:void(0)">Go to report</a>
                        </td>
                        <td></td>
                        <td class="card card-body">
                            <i style="color: #1b9ff1;" class="fab fa-twitter fa-2x"></i> <p><small>Twitter Profile</small></p>
                                <p>&nbsp;</p>
                                <p>Track profile performance to determine the impact of Twitter content.</p> <p>&nbsp;</p>
                                <a href="javascript:void(0)">Go to report</a>
                        </td>      
                    </tr>
                </table>
            </div>
            
            <div>&nbsp;</div>
            <div class="card card-body cardshadow">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fas fa-chart-pie fa-2x"></i> <div><h5>Strategy & Insights</h5></div>
                        <div>Measure the level of engagement with your content and uncover opportunities, trend and themes to improve your strategy.</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="shadow-sm bg-white rounded card list-group list-group-flush">
                            <li class="list-group-item"><i style="color: #3282c9;" class="fas fa-folders fa-lg"></i> Profile performance</li>
                        </div> <div>&nbsp;</div>
                        <div class="shadow-sm bg-white rounded card list-group list-group-flush">
                            <li class="list-group-item"><i style="color: #3282c9" class="fab fa-linkedin fa-lg"></i> Linkedin Pages</li>
                        </div><div>&nbsp;</div>
                        <div class="shadow-sm bg-white rounded card list-group list-group-flush">
                            <li class="list-group-item"><i style="color: #3282c9" class="fas fa-comment-alt-lines fa-lg"></i> Trends report</li>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="shadow-sm bg-white rounded card list-group list-group-flush">
                            <li class="list-group-item"><i style="color: #3282c9" class="fas fa-analytics fa-lg"></i> Google analytics</li>
                        </div> <div>&nbsp;</div>
                        <div class="shadow-sm bg-white rounded card list-group list-group-flush">
                            <li class="list-group-item"><i style="color: #3282c9" class="fas fa-key fa-lg"></i> Twitter keywords</li>
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="card card-body cardshadow">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fas fa-flag fa-2x"></i> <div><h5>Competitive analysis</h5></div>
                        <div>Track and compare your profile with competitors to see how you measure up.</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="shadow-sm bg-white rounded card list-group list-group-flush">
                            <li class="list-group-item"><i style="color: #3282c9" class="fas fa-flag fa-lg"></i> Facebook competitive</li>
                        </div> <div>&nbsp;</div>
                        <div class="shadow-sm bg-white rounded card list-group list-group-flush">
                            <li class="list-group-item"><i style="color: #3282c9" class="fas fa-flag fa-lg"></i> Instagram competitive</li>
                        </div><div>&nbsp;</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="shadow-sm bg-white rounded card list-group list-group-flush">
                            <li class="list-group-item"><i style="color: #3282c9" class="fas fa-flag fa-lg"></i> Twitter competitive</li>
                        </div> <div>&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>