<div class="container-fluid">
    <div class="row my-5" style="border-bottom: 1px solid black;">
        <div class="col-sm-12">
            <b>Team Tasks</b>
            <span style="float: right;">
                <button class="btn btn-primary">All Tasks <i class="fas fa-caret-down"></i></button> &nbsp;
                <button class="btn btn-primary"><i class="fa fa-thumbtack"></i> General Task <i class="fa fa-check-circle"></i></button> &nbsp;
                <button class="btn btn-primary"><i class="fa fa-dollar-sign"></i> Leads <i class="fa fa-check-circle"></i></button> &nbsp;
                <button class="btn btn-primary"><i class="fa fa-headset"></i> Support <i class="fa fa-check-circle"></i></button> &nbsp;
            </span>
            <div>&nbsp;</div>
        </div>
    </div>

    
    <div class="container">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm-5">
                    <table>
                        <tr>
                          <th rowspan="2"> <i style="color: #3282c9;" class="fas fa-thumbtack fa-2x"></i> </th>
                          <td>&nbsp;&nbsp; Assigned to yourself</td>
                        </tr>
                        <tr>
                          <td>&nbsp; <small>Venkatesan G. > Venkatesan G. Today at 11:39AM</small></td>
                        </tr>
                    </table>
                </div>
                
                <div class="col-sm-5">
                    <table>
                        <tr>
                          <th rowspan="2"> <i style="color: #3282c9;" class="fas fa-user-circle fa-2x"></i> </th>
                          <td>&nbsp;&nbsp; Testing</td>
                        </tr>
                        <tr>
                          <td>&nbsp; <small>AikyneDev sent 2 days ago</small></td>
                        </tr>
                    </table>
                </div>
                
                <div class="col-sm-2 text-center">
                    <input type="checkbox"><div>Close</div>
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="card card-body">
            <div class="row">
                <div class="col-sm-5">
                    <table>
                        <tr>
                          <th rowspan="2"> <i style="color: #3282c9;" class="fas fa-thumbtack fa-2x"></i> </th>
                          <td>&nbsp;&nbsp; Closed by you</td>
                        </tr>
                        <tr>
                          <td>&nbsp; <small>Venkatesan G. > Venkatesan G. Today at 11:18AM</small></td>
                        </tr>
                    </table>
                </div>
                
                <div class="col-sm-5">
                    <table>
                        <tr>
                          <th rowspan="2"> <i style="color: #3282c9;" class="fas fa-user-circle fa-2x"></i> </th>
                          <td>&nbsp;&nbsp; Testing the post for both together</td>
                        </tr>
                        <tr>
                          <td>&nbsp; <small>AikyneDev sent 2 days ago</small></td>
                        </tr>
                    </table>
                </div>
                
                <div class="col-sm-2 text-center">
                    <input type="checkbox"><div>Close</div>
                </div>
            </div>
        </div>
    </div>
</div>