.container-fluid
{
  
  margin: 0;
  
}
.padding
{
    padding: 30px;
}

.circle-icon {
  color: #1da1f2;
  padding: 10px;
  border-radius: 50%;
  margin: 0.5rem;
}


.socialImage {
  border-radius: 50%;
}
