<div class="container-fluid login-screen">
  <div class="row">
      <div class="col-md-8 nodisplay" style="margin-left: -5%;">
        <img src="../../../assets/img/Social.png" alt="Login">
      </div>
    <div class="col-md-4">
      <div class="my-5 margin-center" style="margin-left: 17%;">
          <div class="card" style="border: 1px;">
            <div class="card-header" style="background-color: white; border: 1px;">

              <img  class="imgclass" src="../../../assets/img/sendmail.png">
              <div class="center" style="text-align: center;">
              <h1 class="header">Confirm Your Email</h1>
              </div>

            </div>
            <div class="card-body text-center height">
              <div>
                  <p class="text-justify textStyle"> Please take a moment to verify your email address.</p>
                  <p class="text-justify textStyle">We sent an email with a verification link to <a href="javascript:void(0)">{{userEmailId}}</a></p>
                  <p class="text-justify textStyle">If you didn't receive the email, check your spam folder, <a href="javascript:void(0)">Click here to resend it</a></p><br />
                  <p class="text-justify textStyle">Click <a routerLink='/usermanagement/login'>here </a>to login</p>
              </div>
            </div>
          </div>
        </div>
        </div>
  </div>
</div>
