<div class="header-wrap">
  <div class="find-content">
    <h2 class="mb-2"> Discover </h2>
    <hr class="horizontal-bar">
    <!-- <input type="text" placeholder="Find Content ..." name="" id=""> -->
    <div class="row">
      <div class="col-sm-3">
        <!-- <form> -->
        <div class="input-group">
          <div class="position-relative">
            <input class="form-control" type="text" [(ngModel)]="searchFeed" placeholder="Find Content ..." name=""
              (keyup.enter)="retrieveFeeds()" id="">

            <div class="clear">
              <span *ngIf='(searchFeed != "" || searchFeed!="")' style="cursor:pointer;" (click)="searchFeed = ''"
                class="input-group-text" id="basic-addon2">&times;</span>
            </div>

          </div>


          <button class="btn btn-primary" (click)="retrieveFeeds()" style="color: white;font-weight: bold;">
            <i class="fa fa-search"></i>
          </button>


        </div>

        <!-- </form> -->
      </div>
      <div class="col-sm-3">
        <!-- <mat-form-field appearance="fill" class="w-100">
          <mat-select multiple [(ngModel)]="selectedCategory" (ngModelChange)="categoryChange()"
            placeholder="Select category">
            <mat-option *ngIf="allCategory.length == 0" disabled>No categories found</mat-option>
            <mat-option *ngFor="let item of allCategory" [value]="item">{{item}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->


        <div class="dropdown show">
          <a class="btn text-left catDropdown d-flex justify-content-between align-items-center" href="#" role="button"
            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Select category</span>
            <i class="fas fa-caret-down"></i>
          </a>

          <div class="dropdown-menu w-100" (click)="preventDropclosing($event)" aria-labelledby="dropdownMenuLink">
            <div class="d-flex drpdwnHead align-items-center justify-content-between px-3 pb-3">
              <label class="mb-0">Content Topics</label>
              <span (click)="clearSelectCategory()">Clear</span>
            </div>
            <div class="category-box px-3 py-3">
              <div class="catSearch">
                <i class="fas fa-search"></i>
                <input class="form-control" [(ngModel)]="searchFilterCategory" type="text"
                  placeholder="Search Content Topics" />
              </div>
              <div class="category-list-chekcbox-wrapper mt-3">
                <ul class="unstyled centered">
                  <ng-container *ngFor="let item of allCategory | categoryfilter:searchFilterCategory;let i = index">
                    <li>
                      <input class="styled-checkbox" [id]="i+1" type="checkbox" name="select_check" [value]="item"
                        (change)="changeSelection()">
                      <label [for]="i+1">{{item}}</label>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <hr class="mb-0">
  <div class="row" style="padding: 10px;">
    <div class="col-lg-8">
      <h3 *ngIf="userFeed" class="mb-0 content-header" contentEditable="true">{{userFeed?userFeed:'' }} <a href="#">Edit
          preference</a></h3>
    </div>
    <div class="col-lg-4 text-right">
      <span class="btn color text-white btn-primary" (click)="showRightsidebar=!showRightsidebar"
        [ngClass]="{active: showRightsidebar}">+ News Feeds</span>
      <button (click)="display='grid'" [ngClass]="{active: (display=='grid')}" class="btn bg-transparent" id="grid">
        <i class="fas fa-th-large"></i>
      </button>
      <button (click)="display='list'" [ngClass]="{active: (display=='list')}" class="btn bg-transparent" id="list">
        <i class="fas fa-list"></i>
      </button>
      <span (click)="expanded=!expanded" [ngClass]="{active: expanded}" class="btn color text-white btn-primary">
        Rss Feed
      </span>
    </div>
  </div>
</div>
<hr class="horizontal-bar">

<div class="row">
  <div class="col">
    <div class="px-4">
      <div id="products" class="row view-group">
        <ng-container *ngFor="let feed of feedData;let i = index">
          <div class="item col-xs-4 col-lg-4"
            [ngClass]="{'list-group-item': (display=='list'), 'grid-group-item': (display=='grid')}"
            style="margin-bottom: 40px;">
            <div (click)="openurl(feed.link)" class="thumbnail card" style="overflow: hidden; border-radius: 5px;">
              <div class="img-event">
                <img class="group list-group-image img-fluid" [src]="getImageUrl(feed.content)" alt=""
                  onerror='this.onerror=null;this.src="https://picsum.photos/400/220";' />
              </div>
              <div class="caption card-body">
                <h4 class="group card-title inner list-group-item-heading">
                  {{feed.title}}</h4>
                <p class="group inner list-group-item-text">{{feed.contentSnippet}}</p>
                <p class="lead">{{feed.pubDate }}</p>
                <i class="fas fa-share-alt-square" (click)="sharePost(feed)"></i>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>




  </div>
  <div class="col-lg-3" [style.display]="expanded ? 'block' : 'none'">
    <div class="right-bar">
      <div class="widget">
        <h4>YOUR FEEDS </h4>
        <ul class="pl-0">
          <ng-container *ngFor="let feed of allCategory">
            <li (click)="userFeed = feed" class="cat-item py-3 pr-2 d-flex justify-content-between align-items-center">
              <a  class="feedlist"><img src="https://picsum.photos/100.jpg" alt="">{{feed}}</a>
              <div>
                <i class="fa fa-edit"></i>
                <i class="fa fa-trash-alt ml-3"></i>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="overlay" (click)="showRightsidebar=!showRightsidebar" *ngIf="showRightsidebar">
    </div>

    <div class="rightSidebar" [ngClass]="{'isShown': showRightsidebar}">
      <div class="closeSidebar" (click)="showRightsidebar=!showRightsidebar"
        [style.display]="showRightsidebar ? 'block' : 'none'">
        <i class="fa fa-arrow-left"></i>
      </div>
      <div>
        <h2 class="mb-2">Add New Feed</h2>
        <hr class="horizontal-bar">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Type website or paste feed link here">
          <button class="btn btn-primary" style="color: white;font-weight: bold;">
            <i class="fa fa-search"></i>
          </button>
        </div>

        <!-- <div class="filesUploadWrap pt-5 text-center">
                <img src="./assets/img/files.png" />
                <p class="mt-3">
                    Drop an .OPML/.XML file here to get started <br> (upto 20 feed links)
                </p>
                <p style="opacity: 0.6;">OR</p>
                <button class="btn color text-white btn-primary">Upload File</button>
            </div> -->
        <div class="searchResult pt-5">
          <h3 class="mb-0 content-header">Search Results</h3>

          <ul class="pt-2">
            <li class="d-flex align-items-center">
              <i class="fas fa-globe-americas"></i>
              <div class="inContent">
                <p>Lorem ipsum dolor set amet Lorem ipsum dolor set amet Lorem ipsum dolor set amet </p>
                <small>20 articles last week</small>
              </div>
              <button class="btn"><i class="fa fa-plus mr-2"></i>Add</button>
            </li>
            <li class="d-flex align-items-center">
              <i class="fas fa-globe-americas"></i>
              <div class="inContent">
                <p>Lorem ipsum dolor set amet Lorem ipsum dolor set amet Lorem ipsum dolor set amet </p>
                <small>20 articles last week</small>
              </div>
              <button class="btn"><i class="fa fa-plus mr-2"></i>Add</button>
            </li>
            <li class="d-flex align-items-center">
              <i class="fas fa-globe-americas"></i>
              <div class="inContent">
                <p>Lorem ipsum dolor set amet Lorem ipsum dolor set amet Lorem ipsum dolor set amet </p>
                <small>20 articles last week</small>
              </div>
              <button class="btn"><i class="fa fa-plus mr-2"></i>Add</button>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</div>