.logo
{
    width: 40%;
}

.form-label-group{
  position: relative;
  width: 80%;
  margin: 0 auto
}
.form-label-group i{
  position: absolute; 
  left: 16px;
  top: 17px;
}
.form-label-group input{
  padding-left: 40px;
   margin: 0px; 
   width: 100%;
   text-indent: 0;
}

