.text
{
    line-height: 2;
    background: #f3f9ff;
    border-radius: 5px;
    border: 1px solid black;

    span
    {
        margin-left: 10px;
    }
    
}
.search
{
    height: 20%;
}
.padding
{
    i
    {
        padding: 10px;
    }
}