<div class="fluid-container">
  <div class="modal-header text-center">
    <h3 class="modal-title center" id="exampleModalLongTitle">Connect a new channel</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row text-center d-flex justify-content-center">

      <div class="col-sm-2 socialConnect" (click)="facebookLogin()"><br/>
          <i style="color: #4867aa;" class="fab fa-facebook fa-3x"></i>
        <br/>
        <p style="font-size: larger; font-weight: 700;">Facebook</p> Page or Group <br/>
          Connect
      </div>



      <div class="col-sm-2 socialConnect text-center" (click)="connectTwitter()"> <br/>
        <i style="color: #1da1f2;" class="fab fa-twitter-square fa-3x"></i>
        <br/>
        <p style="font-size: larger; font-weight: 700;">Twitter</p> Profile <br/>
          Connect
      </div>




      <div class="col-sm-2 socialConnect text-center">
          <img style="position: absolute;top: 10%; left: 40%; width: 30px; height: 30px;" src=".././../../../assets/img/instagram.png">
        <br/> <br/> <br/>
          <p style=" font-size: larger; font-weight: 700;">Instagram</p> Business account <br/>
          Connect
      </div>


    </div>

    <div class="row"> &nbsp;</div>
    <div class="row text-center d-flex justify-content-center">


      <div class="col-sm-2 socialConnect text-center"  (click)="registerLinkedIn()">
        <img style="position: absolute;top: 10%; left: 40%; width: 30px; height: 30px;" src=".././../../../assets/img/linkedin.png"> <br/> <br/> <br/>
        <p style="font-size: larger; font-weight: 700;">LinkedIn</p> Page or Profile <br/>
          Connect
      </div>

      <div class="col-sm-2 socialConnect text-center">
          <img style="position: absolute;top: 10%; left: 40%; width: 30px; height: 30px;" src=".././../../../assets/img/googleMyB.png">
        <br/> <br/> <br/>
        <p style="font-size: medium; font-weight: 700;">Google My Business</p> Profile <br/>
          Connect
      </div>

      <div class="col-sm-2 socialConnect text-center"> <br/>
        <img style="position: absolute;top: 10%; left: 40%; width: 30px; height: 30px;" src=".././../../../assets/img/pinterest.png">
      <br/> <br/>
      <p style="font-size: medium; font-weight: 700;">Personal or Business</p>
        Connect
    </div>
    </div>
  </div>
</div>
